<div class="product-card">
    <img src="<%= product.img %>" alt="<%= product.name %>">

    <h3><%= product.name %></h3>

    <p class="price">$<%= product.price %></p>

    <a href="/product/<%= product.id %>" class="btn">Ver producto</a>
</div>